:root {
    
	--primary-100:#3F51B5;
    --primary-200:#757de8;
    --primary-300:#dedeff;
    --accent-100:#2196F3;
    --accent-200:#003f8f;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#FFFFFF;
    --bg-200:#f5f5f5;
    --bg-300:#cccccc;
}
.dark-mode {

	--primary-100:#1A1359;
    --primary-200:#4b3a87;
    --primary-300:#ab93ea;
    --accent-100:#2C2A4A;
    --accent-200:#b3aed6;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-100:#0F0A3C;
    --bg-200:#21194d;
    --bg-300:#3b3067;
}
* { box-sizing: border-box; margin: 0; padding: 0; font-family: tahoma; }
body { background: var(--bg-100); background-position: center center; }
.glass {
	
	background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid var(--glass-border);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.37);
}
.side-icons { font-size: 25px; color: var(--accent-200); cursor: pointer; }
.header {
	background-color: var(--bg-300);
    width: 100%;
	padding-left: 80px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .logo { background-color: var(--bg-300); height: 40px; width: 60px; display: none; }
.header .search { width: 75%; padding: 0 25px;}
.icons { font-size: 25px; color: var(--text-100); cursor: pointer; margin-left: 20px; }
.header .menu { margin-left: 25px; display: none; }
.header .search .icon { font-size: 18px; color: var(--text-100); }
.header .search .search-bar {
    background-color: var(--bg-300);
    color: var(--text-200);
    font-size: 15px;
    border: none;
    outline: none;
    width: 70%;
    padding: 5px;
}

@media (max-width: 768px) {
	.header { padding-left: 10px;  }
	.header .logo { display: flex; justify-content: center; align-items: center; }
	.header .search { width: 50%; }
	.header .search .search-bar { display: none; }
	.header .menu { display: block; }
}

.header .not-login {
    width: 25%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header .profile {
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header .profile .login-container { margin-right: 25px; }
.header .profile .login { font-size: 20px; font-weight: bold; color: var(--text-100); cursor: pointer; }
.header .profile .profile-pic {
    width: 45px;
    height: 45px;
    background-image: url(body.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}
.side-bar {
	background-color: var(--bg-200);
	height: 100vh;
	width: 80px;
	position: fixed;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (max-width: 768px) { .side-bar { display: none; } }

.side-bar .container { height: 70%; margin: 0; }
.side-bar .logo { width: 100%; height: 40px; margin-bottom: 20px; display: flex; justify-content: center; align-items: center; }
.side-bar .items {
    list-style: none;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.side-bar .items .item { width: 100; min-height: 60px; display: flex; justify-content: center; align-items: center;}
.dark { height: 50px; }
.dark-header { min-height: 68px; margin-left: 10px; width: 60px; }
.dark .switch { height: 0; width: 0; visibility: hidden; }
.dark .switch-label {
	cursor: pointer;
	width: 90%;
	height: 30px;
	background: var(--accent-200);
	display: block;
	border-radius: 30px;
	position: relative;
}
.dark .switch-label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20px;
	height: 20px;
	background: var(--accent-100);
	border-radius: 50%;
	transition: 0.3s;
}
.dark .switch:checked + .switch-label { background: var(--accent-200); }
.dark .switch:checked + .switch-label:after { left: calc(100% - 5px); transform: translateX(-100%); }
.dark .switch-label:active:after { width: 30px; }

.container { margin-left: 80px; }
.container .cover {
    width: 100%;
    display: flex;
    padding: 25px;
    flex-direction: column;
    background-image: url(peakpx.jpeg);
    background-repeat: no-repeat;
}
.container .cover .infos { width: 100%; display: flex; flex-direction: row; }
.container .cover .infos div { height: 62px; width: 10%; margin-right: 2px; }
.container .cover .infos .logo { width: 5%; }
.container .cover .infos .score { width: 10%; }
.container .cover .infos .name { width: 15%; }
.container .cover .infos .login { width: 60%; }
.container .cover .infos .opt { margin: 0; }
.container .cover .items { display: flex; flex-direction: row; padding-top: 10px; }

@media (max-width: 1024px) {
    .container .cover .infos .logo { width: 20%; }
    .container .cover .infos .score { width: 20%; }
    .container .cover .infos .name { width: 20%; }
    .container .cover .infos .login { width: 20%; }
    .container .cover .infos .opt { width: 20%; }
}

.container .cover .items .wallet { width: 30%; height: 236px; margin-right: 10px; }
.container .cover .items .container {
    width: 70%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .cover .items .container .post { width: 49%; height: 177px; margin-bottom: 10px; }
.container .cover .items .container .blackhole { width: 49%; height: 177px; margin-bottom: 10px; }
.container .cover .items .container .level { width: 100%; height: 47.2px; }
.container .cover .items .container .level .lvl {
    width: 60%;
    height: 100%;
    background-image: linear-gradient(to right, var(--primary-100), var(--primary-200));
}

@media (max-width: 768px) { .container { margin: 0; } }
@media (max-width: 1024px) {
    .container .cover .items { flex-direction: column; }
    .container .cover .items .wallet { width: 100%; margin-bottom: 10px; margin-right: 0;}
    .container .cover .items .container { flex-direction: column; width: 100%; }
    .container .cover .items .container .post { width: 100%; }
    .container .cover .items .container .blackhole { width: 100%; }
    .container .cover .items .container .level { width: 100%; }
}

.container .site-body {
    background-color: var(--bg-100);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 25px;
}
.container .site-body .site-item { width: 32.5%; height: 315px; margin-bottom: 20px; padding: 25px; background-color: var(--bg-200); }

@media (max-width: 768px) {
    .container .site-body { padding: 0; }
    .container .site-body .site-item { margin-bottom: 0; }
}
@media (max-width: 1024px) {
    .container .site-body .site-item { width: 100%; }
}
@media (min-width: 1025px) and (max-width: 1400px) {
    .container .site-body .site-item { width: 49%; }
}

.footer { width: 100%; height: 60px; }
.footer .container {
    height: 100%;
    background-color: var(--bg-100);
    border-top: 1px solid var(--accent-100);
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer .container .links { width: 100%; display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap; }
.footer .container .links a { text-decoration: none; color: var(--accent-200); font-size: 15px; margin-right: 30px; }
.visible { display: flex; z-index: 10000000; }
.invisible { display: none; }